@CHARSET "UTF-8";

.content {
    padding: 0px;
}

.ui-grid-a_1 {
    border: 1px solid #f7c942;
    background: #fadb4e;
    color: #333;
    padding: 12px 4px;
}

.ui-grid-a_1 .ui-block-a_1 {
    width: 25%;
    height: 30px;
    line-height: 30px;
}

.ui-grid-a_1 >.ui-block-b_1 {
    width: 75%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    background: #fadb4e;
}

.ui-grid-b_1 {
    border: 1px solid #f7c942;
    background: #fadb4e;
    color: #333;
    padding: 10px 4px;
}

.ui-grid-b_1 .ui-block-a_1 {
    width: 25%;
    height: 30px;
    line-height: 30px;
}

.ui-grid-b_1 .ui-block-b_1 {
    width: 75%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    background: #fadb4e;
}

.ui-grid-c_1 {
    border: 1px solid #f7c942;
    background: #fadb4e;
    color: #333;
    padding: 10px 4px;
}

.ui-grid-c_1 .ui-block-a_1 {
    width: 25%;
    height: 30px;
    line-height: 30px;
}

.ui-grid-c_1 .ui-block-b_1 {
    width: 55%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    background: #fadb4e;
}

.ui-grid-c_1 .ui-block-c_1 {
    width: 20%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    background: #fadb4e;
}

.i_input {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: green;
    text-align: right;
    background: #fadb4e;
    font-size: 20px;
}

.ui-block-c_1 > p {
    margin: 0px;
    font-size: 20px;
    color: green;
    text-align: right;
}

div.ui-slider {
    height: 30px;
    zoom: 1;
    margin: 0px;
    padding: 0px;
}

.text_center {
    text-align: center;
    width: 20%;
}